@keyframes wave {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.card {
  margin-bottom: 50px; }
  .card .card-body {
    max-width: 360px; }
    .card .card-body .fa {
      font-size: 18px;
      cursor: pointer;
      color: #880e4f; }
    .card .card-body .fa-heart {
      color: #757575;
      font-weight: 800;
      margin-left: 2rem; }
      .card .card-body .fa-heart:hover {
        transition: all .5s ease;
        color: #d50000;
        transform: scale(1.2); }
      .card .card-body .fa-heart.active {
        transition: all .5s ease;
        color: #d50000; }
    .card .card-body .player-control .player-button {
      background: none;
      border: 0;
      line-height: 1;
      color: white;
      text-align: center;
      outline: 0;
      padding: 0;
      cursor: pointer;
      max-width: 50px;
      margin: 0 10px;
      vertical-align: middle; }
    .card .card-body .player-control .progress {
      margin-top: 20px;
      flex: 10;
      position: relative;
      display: flex;
      flex-basis: 100%;
      height: 5px;
      background: rgba(0, 0, 0, 0.5); }
    .card .card-body .player-control .progress-filled {
      width: 50%;
      background: #ad1457;
      flex: 0;
      flex-basis: 0%; }
    .card .card-body .player-control .buttons-play {
      display: flex;
      justify-content: center; }
      .card .card-body .player-control .buttons-play .fa-play {
        font-size: 30px; }
  .card .music-card {
    overflow: hidden;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 350px;
    /* when stop */
    /* when stop */
    /* when stop */ }
    .card .music-card .image {
      height: 250px;
      width: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 1;
      opacity: 0.6;
      position: absolute; }
      .card .music-card .image:after {
        content: '';
        position: absolute;
        width: 100%;
        top: 160px;
        height: 100px;
        left: 0;
        z-index: 1;
        background: linear-gradient(rgba(9, 2, 4, 0), #444); }
    .card .music-card .wave {
      position: absolute;
      height: 760px;
      width: 800px;
      opacity: 0.6;
      left: 0;
      top: 0;
      margin-left: -70%;
      margin-top: -130%;
      background: radial-gradient(#353535, #383737); }
    .card .music-card .wave:nth-child(2),
    .card .music-card .wave:nth-child(3) {
      top: 10px; }
    .card .music-card .playing .wave {
      border-radius: 40%;
      animation: wave 3000ms infinite linear; }
    .card .music-card .wave {
      border-radius: 47%;
      animation: wave 55s infinite linear; }
    .card .music-card .playing .wave:nth-child(2) {
      animation-duration: 4000ms; }
    .card .music-card .wave:nth-child(2) {
      animation-duration: 50s; }
    .card .music-card .playing .wave:nth-child(3) {
      animation-duration: 5000ms; }
    .card .music-card .wave:nth-child(3) {
      animation-duration: 45s; }
    .card .music-card .info {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
      text-align: center; }
    .card .music-card .title {
      font-size: 1.4em;
      font-weight: 400;
      color: #333;
      margin-bottom: 8px;
      text-transform: uppercase; }
    .card .music-card .artist {
      color: #cfcfcf;
      font-size: 1.2em;
      letter-spacing: 0.08em;
      margin-top: -10px; }

@media only screen and (max-width: 991px) {
  .card .music-card {
    height: calc(350px - 150px); }
    .card .music-card .image:after {
      top: 100px; }
    .card .music-card .wave {
      height: 435px;
      width: 480px; } }
@media only screen and (max-width: 767px) {
  .card .card-body .fa-heart {
    margin-left: 15rem; }
  .card .music-card .wave {
    height: 885px;
    width: 700px;
    margin-left: -28%;
    margin-top: -122%; } }
@media only screen and (max-width: 510px) {
  .card .card-body .fa-heart {
    margin-left: 10rem; }
  .card .music-card .wave {
    height: 775px;
    width: 750px;
    margin-left: -28%;
    margin-top: -121%; } }
@media only screen and (max-width: 430px) {
  .card .card-body .fa-heart {
    margin-left: 8rem; } }
@media only screen and (max-width: 400px) {
  .card .card-body .fa-heart {
    margin-left: 6rem; } }

/*# sourceMappingURL=player.component.css.map */
