<h2>Change profile information</h2>

<form [formGroup]="form" class="form-group" (ngSubmit)="onSubmit()">
    <label for="name">Name</label>
    <input id='name' type="text" class="form-control" formControlName="name">

    <div *ngIf="form.get('name').invalid && (form.get('name').dirty || form.get('name').touched)"
         class="alert alert-danger">

        <div *ngIf="form.get('name')['errors'] ['minlength']">
            name must be at least 6 characters long.
        </div>

    </div>

    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">

    <div *ngIf="form.get('email').invalid && (form.get('email').dirty || form.get('email').touched)"
         class="alert alert-danger">

        <div *ngIf="form.get('email')['errors'] ['minlength']">
            Email must be at least 6 characters long.
        </div>
    </div>

    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password">

    <div *ngIf="form.get('password').invalid && (form.get('password').dirty || form.get('password').touched)"
         class="alert alert-danger">

        <div *ngIf="form.get('password') ['errors'] ['minlength'] &&  form.get('password') ['errors'] ['minlength'] ['requiredLength']">
            Password must be at least 4 characters long.
        </div>

    </div>

    <input type="submit" value="Save">

    <button (submit)="deleteUser()">Delete user</button>
</form>