<footer class="page-footer  pink darken-4 pt-4 mt-4">
  <!--Footer Links-->
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-12">
        <ul class="social-footer list-unstyled">
          <li class="social-item"><a type="button" class="btn-floating btn-small btn-fb waves-light" mdbWavesEffect><i class="fa fa-facebook"></i></a></li>
          <li class="social-item"><a class="btn-tw waves-light" mdbWavesEffect><i class="fa fa-twitter"> </i></a></li>
          <li class="social-item"><a class="btn-gplus waves-light" mdbWavesEffect><i class="fa fa-google-plus"> </i></a></li>
          <li class="social-item"><a class="btn-pin waves-light" mdbWavesEffect><i class="fa fa-pinterest"> </i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--Copyright-->
  <div class="footer-copyright text-center">
    <div class="container-fluid">
      <span class="span-copyright">© 2018 Copyright: By team of enthusiast </span><a href="https://github.com/phantom1723/webPlayer"><i class="fa fa-github"></i></a>
    </div>
  </div>
</footer>