.view {
    background: url("../assets/img/main-bg.jpg")no-repeat center center;
    background-size: cover;
}    
.navbar {
    background-color: transparent;
}
.top-nav-collapse {
    background-color: #4285F4;
}
.logo {
    height: 50px;
    width: 45px;
    padding: 5px;
}
.divider {
    &::before {
        content: '';
        position: absolute;
        height: 35px;
        width: 1px;
        -webkit-transition: 0.35s;
        transition: 0.35s;
        top: 15px;
        z-index: 5;
        background: #fff;
    }
}
@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
}