<div class="registration">
    <form method="post" >
        <label for="name">Name</label>
        <input id='name' type="text">

        <label for="email">Email</label>
        <input id="email" type="email">

        <label for="password">Password</label>
        <input id="password" type="password">

        <input type="submit" value="Sign up" routerLink="/" routerLinkActive="active">

    </form>
    <p>Already have an account? <a routerLink="/login" routerLinkActive="active">Log In</a> </p>

</div>