body {
  background-color: #1E0F16;  /*rgba(234,216,252,1);*/
}
// Home nav
$navbar-color: #6D0B3F;

.navbar {
  background-color: transparent;
}
.top-nav-collapse {
  background-color: $navbar-color;
}