<div class="cotainer-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="view hm-white-slight waves-light" mdbRippleRadius>
                    <div class='music-card playing'>
                        <!--Card image-->
                        <div class='image' style="background-image: url(../assets/img/cards.jpg" alt="image-cards);"></div>
                        
                        <div class='wave'></div>
                        <div class='wave'></div>
                        <div class='wave'></div>
                    </div>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <div class='info'>
                        <h2 class='title'>Title</h2>
                        <p class='artist'>Artist</p>
                    </div>
                    <!-- Controls -->
                    <div class="player-control">
                        <!-- <div class="progress">
                            <div class="progress-filled"></div>
                        </div> -->
                        <div class="buttons-play">
                            <button data-skip="-10" class="player-button">
                                <i class="fa fa-backward"></i>
                            </button>
                            <button class="player-button toggle">
                                <i class="fa fa-play"></i>
                            </button>
                            <button data-skip="10" class="player-button">
                                <i class="fa fa-forward"></i>
                            </button>
                            <button class="player-button">
                                <i class="fa fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Card-->
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <div class="view hm-white-slight waves-light" mdbRippleRadius>
                    <div class='music-card playing'>
                    <!--Card image-->
                        <div class='image' style="background-image: url(../assets/img/cards-2.jpg" alt="image-cards);"></div>
                        
                        <div class='wave'></div>
                        <div class='wave'></div>
                        <div class='wave'></div>
                    </div>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <div class='info'>
                        <h2 class='title'>Title</h2>
                        <p class='artist'>Artist</p>
                    </div>
                    <!-- Controls -->
                    <div class="player-control">
                        <!-- <div class="progress">
                            <div class="progress-filled"></div>
                        </div> -->
                        <div class="buttons-play">
                            <button data-skip="-10" class="player-button">
                                <i class="fa fa-backward"></i>
                            </button>
                            <button class="player-button toggle">
                                <i class="fa fa-play"></i>
                            </button>
                            <button data-skip="10" class="player-button">
                                <i class="fa fa-forward"></i>
                            </button>
                            <button class="player-button">
                                <i class="fa fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Card-->
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card">
                <!--Card image-->
                <div class="view hm-white-slight waves-light" mdbRippleRadius>
                    <div class='music-card playing'>

                        <div class='image' style="background-image: url(../assets/img/cards-3.jpg" alt="image-cards);"></div>
                        
                        <div class='wave'></div>
                        <div class='wave'></div>
                        <div class='wave'></div>
                    </div>
                </div>
                <!--Card content-->
                <div class="card-body">
                    <!--Title-->
                    <div class='info'>
                        <h2 class='title'>Title</h2>
                        <p class='artist'>Artist</p>
                    </div>
                    <!-- Controls -->
                    <div class="player-control">
                        <!-- <div class="progress">
                            <div class="progress-filled"></div>
                        </div> -->
                        <div class="buttons-play">
                            <button data-skip="-10" class="player-button">
                                <i class="fa fa-backward"></i>
                            </button>
                            <button class="player-button toggle">
                                <i class="fa fa-play"></i>
                            </button>
                            <button data-skip="10" class="player-button">
                                <i class="fa fa-forward"></i>
                            </button>
                            <button class="player-button">
                                <i class="fa fa-heart"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!--/.Card-->
        </div>
    </div>
</div>
<!-- /.Main -->
<!-- <div class="home">
    <button routerLink="/user" routerLinkActive="active">My songs</button>
    <button (click)="listen()">music</button>
</div> -->

